<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>регистрация</title>
    <link rel="stylesheet" href="/static/styles/main-styles.css">
    <link rel="stylesheet" href="/static/styles/reg-sign-in-styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="main.html">Главная</a>
            <a href="blogs.html">Посты</a>
            <a href="about.html">О проекте</a>
            <a href="sign-in.html">Войти</a>
        </nav>
    </header>
    <main class="registration-container">
        <h2>Регистрация</h2>
        <form id="registration-form">
            <div class="form-group">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Зарегистрироваться</button>
            </div>
        </form>
        <p>Уже есть аккаунт? <a href="login.html">Войти</a></p> <!-- Ссылка на страницу входа -->
    </main>
</body>
</html>