<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/all-members.css">
    <link rel="stylesheet" href="../static/styles/main-styles.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <title>Участники группы</title>
</head>

<body>
    <!-- загрузка -->
    <div id="loader">
        <img src="../static/images/loader_image.jpeg" alt="">
        <h1>Загрузка...</h1>
    </div>

    <!-- скрол -->
    <button href="#" id="scroll-to-top"><img src="../static/images/arrow-up.svg" alt=""></button>

    <header>
        <nav>
            <a href="main.html" class="nav-logo"><img src="../static/images/logo.svg" alt=""></a>
            <div class="desktop nav-buttons">
                <a href="discography.html" class="nav-button">Дискография</a>
                <a href="biography.html" class="nav-button">Горшок</a>
                <a href="all-members.html" class="nav-button active">Участники</a>
                <a href="gallery.html" class="nav-button">Галлерея</a>
            </div>

            <button><img src="../static/images/menu.svg" alt="" onclick="OpenCloseNavbar()"></button>
            <!-- open navbuttons -->
            <div class="mobile" id="">
                <a href="discography.html" class="nav-button">Дискография</a>
                <a href="biography.html" class="nav-button">Горшок</a>
                <a href="all-members.html" class="nav-button active">Участники</a>
                <a href="gallery.html" class="nav-button">Галлерея</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>Участники группы</h1>

        <!-- участники последнего состава -->
        <h2>Последний состав группы</h2>
        <section class="group">
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/mihail-gorshenev.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Михаил Горшенев</h2>
                    <br>
                    <h3>Вокал</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/aleksandr-shhigolev.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Александр Щиголев</h2>
                    <br>
                    <h3>Ударные</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/yakov-tsvirkunov.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Яков Цвиркунов</h2>
                    <br>
                    <h3>Гитара</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/aleksandr-leontev.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Алексанлр Леонтьев</h2>
                    <br>
                    <h3>Гитара</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/pavel-sazhinov.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Павел Сажинов</h2>
                    <br>
                    <h3>Клавишные</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/sergey-zaharov.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Сергей Захаров</h2>
                    <br>
                    <h3>Бас</h3>
                </div>
            </a>
        </section>

        <!-- бывшие участники -->
        <h2>Бывшие участники группы "Король и Шут"</h2>
        <section class="group">
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/knyaz.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Андрей Князев</h2>
                    <br>
                    <h3>Вокал</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/aleksandr-balunov.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Александр Балунов</h2>
                    <br>
                    <h3>Бас</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/dmitriy-rishko.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Дмитрий Ришко</h2>
                    <br>
                    <h3>Скрипка</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/Marya-Nefedova.jpeg" alt="">
                </div>
                <div class="header">
                    <h2>Мария Нефедова</h2>
                    <br>
                    <h3>Скрипка</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/aleksandr-kulikov.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Александр Куликов</h2>
                    <br>
                    <h3>Бас</h3>
                </div>
            </a>
            <a href="biography.html" class="member">
                <div class="image">
                    <img src="../static/images/members/aleksey-gorshenev.jpg" alt="">
                </div>
                <div class="header">
                    <h2>Алексей Горшенев</h2>
                    <br>
                    <h3>Ударные</h3>
                </div>
            </a>
        </section>

    </main>
    <footer>
        <h4>Архивы "Король и Шут"</h4>
    </footer>
    <script src="../static/scripts/main-scripts.js"></script>
</body>

</html>