<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/member-biography.css">
    <link rel="stylesheet" href="../static/styles/main-styles.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <title>Александр Балунов</title>
</head>

<body>
    <!-- loader -->
    <div id="loader">
        <img src="../static/images/loader_image.jpeg" alt="">
        <h1>Загрузка...</h1>
    </div>

    <!-- scroll up -->
    <button href="#" id="scroll-to-top"><img src="../static/images/arrow-up.svg" alt=""></button>

    <header>
        <nav>
            <a href="../main.html" class="nav-logo"><img src="../static/images/logo.svg" alt=""></a>
            <div class="desktop nav-buttons">
                <a href="discography.html" class="nav-button">Дискография</a>
                <a href="biography.html" class="nav-button">Горшок</a>
                <a href="all-members.html" class="nav-button">Участники</a>
                <a href="gallery.html" class="nav-button">Галлерея</a>
            </div>

            <button><img src="../static/images/menu.svg" alt="" onclick="OpenCloseNavbar()"></button>
            <!-- open navbuttons -->
            <div class="mobile" id="">
                <a href="discography.html" class="nav-button">Дискография</a>
                <a href="biography.html" class="nav-button">Горшок</a>
                <a href="all-members.html" class="nav-button">Участники</a>
                <a href="gallery.html" class="nav-button">Галлерея</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>Александр Балунов</h1>
        <h2>Бас</h2>
        <section class="content">
            <img src="../static/images/members/aleksandr-balunov.jpg" alt="">
            <p><strong>Александр Валентинович Балунов — российский рок-музыкант, бывший бас-гитарист панк-группы «Король
                    и Шут».</strong>

                Учился в Ленинградской школе № 147 вместе с будущими соратниками по группе — Михаилом Горшенёвым и
                Александром Щиголевым. В 1988 году они втроём основали группу под названием «Контора». Позже группа
                стала называться «Король и Шут» и к постоянному составу присоединился Андрей «Князь» Князев. Изначально,
                и до 1996 года Александр Балунов играл на гитаре, а в 1993—1995 годах исполнял роль второго вокалиста,
                так как Андрей Князев был в армии. Александра также забрали в армию, но всего на несколько недель. После
                выступления группы на фестивале «Наполним небо добротой» 23 июня 1996 года из «Короля и Шута» уходит
                бас-гитарист Григорий Кузьмин. С тех пор и до 2006 года Александр Балунов играл в группе на бас-гитаре.
                В 2003 году вместе с Михаилом Горшенёвым, Андреем Князевым, Яковым Цвиркуновым и Александром Леонтьевым
                принял участие в рамках проекта «Рок-группа» в песне «Попса».

                31 января 2006 года, проиграв в группе 18 лет, ушёл в бессрочный отпуск. Вернувшись через две недели,
                проиграл с группой два дня и принял окончательное решение об уходе. С тех пор живёт в США, занимается
                творческой деятельностью. В 2007—2010 годах выступал с группой в качестве бас-гитариста на их
                американских гастролях. В 2008 году помог записать Михаилу Горшенёву песню «Don’t crucify me». Он
                «частенько ходит на концерты группы, в «Лужники» придет. И на репетиционную точку заходит, даже попоет
                там вместе с нами, как в былые времена». В 2012 году записал трибьют на хит 70-х годов «Ты мне веришь?»
                (музыка-Алексей Рыбников, слова-А.Кохановский). В 2013 году создал группу в Америке «Балу и Боцман».
            </p>
        </section>
        <!-- участники группы -->
        <h1 style="color:rgb(255, 170, 22); padding-left: 100px; font-family: 'Old Standard TT', serif">Участники группы
        </h1>
        <section class="members">
            <a href="biography.html" title="Михаил Горшенев"><img
                    src="../static/images/members/mihail-gorshenev.jpg"></a>
            <a href="biography.html" title="Александр Щиголев"><img
                    src="../static/images/members/aleksandr-shhigolev.jpg" alt=""></a>
            <a href="biography.html" title="Яков Цвиркунов"><img src="../static/images/members/yakov-tsvirkunov.jpg"
                    alt=""></a>
            <a href="biography.html" title="Александр Леонтьев"><img
                    src="../static/images/members/aleksandr-leontev.jpg" alt=""></a>
            <a href="biography.html" title="Павел Сажинов"><img src="../static/images/members/pavel-sazhinov.jpg"
                    alt=""></a>
            <a href="biography.html" title="Сергей Захаров"><img src="../static/images/members/sergey-zaharov.jpg"
                    alt=""></a>
        </section>
        <a href="../all-members.html" class="other-members">ВСЕ УЧАСТНИКИ</a>
    </main>
    <footer>
        <h4>Архивы "Король и Шут"</h4>
    </footer>
    <script src="../static/scripts/main-scripts.js"></script>
</body>

</html>