<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/disk.css">
    <link rel="stylesheet" href="../static/styles/main-styles.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <title>Собрание</title>
</head>

<body>
    <!-- загрузка -->
    <div id="loader">
        <img src="../static/images/loader_image.jpeg" alt="">
        <h1>Загрузка...</h1>
    </div>

    <!-- скрол к наву -->
    <button href="#" id="scroll-to-top"><img src="../static/images/arrow-up.svg" alt=""></button>

    <header>
        <nav>
            <a href="main.html" class="nav-logo"><img src="../static/images/logo.svg" alt=""></a>
            <div class="desktop nav-buttons">
                <a href="discography.html" class="nav-button">Дискография</a>
                <a href="biography.html" class="nav-button">Горшок</a>
                <a href="all-members.html" class="nav-button">Участники</a>
                <a href="gallery.html" class="nav-button">Галлерея</a>
            </div>

            <button><img src="../static/images/menu.svg" alt="" onclick="OpenCloseNavbar()"></button>
            <!-- open navbuttons -->
            <div class="mobile" id="">
                <a href="discography.html" class="nav-button">Дискография</a>
                <a href="biography.html" class="nav-button">Горшок</a>
                <a href="all-members.html" class="nav-button">Участники</a>
                <a href="gallery.html" class="nav-button">Галлерея</a>
            </div>
        </nav>
    </header>
    <main>
        <h1 style="color:rgb(255, 170, 22); padding-left: 100px; font-family: 'Old Standard TT', serif"
            class="blocks-title">Собрание</h1>
        <section class="blocks">
            <section class="left-blocks">
                <div class="image">
                    <img src="../static/images/albums/sobranie.jpg" alt="">
                </div>
                <!-- о альбоме -->
                <div class="about-album">
                    <h2>О релизе</h2>
                    <p>
                        2000 год «Мистерия звука» Оформители: Дилан Р. Трой и Александр Р. Новиков В издании
                        использованы уникальные материалы из коллекции И. И. Петрова
                    </p>
                </div>

                <!-- другие альбомы -->
                <div class="other-albums">
                    <a href="discography.html" title="Акустический альбом — 17 песен"><img
                            src="../static/images/albums/acoustic.jpg" alt=""></a>
                    <a href="discography.html" title="Бунт на корабле — 14 песен"><img
                            src="../static/images/albums/bunt-na-korable.jpg" alt=""></a>
                    <a href="discography.html" title="Страшные Сказки — 20 песен"><img
                            src="../static/images/albums/ctrashnyie-skazki.jpg" alt=""></a>
                    <a href="discography.html" title="Ели Мясо Мужики — 19 песен"><img
                            src="../static/images/albums/eli-myaso-muzhiki.jpg" alt=""></a>
                    <a href="discography.html" title="Герои и Злодеи — 13 песен"><img
                            src="../static/images/albums/geroi-i-zlodei.jpg" alt=""></a>
                    <a href="discography.html" title="Как в старой сказке — 17 песен"><img
                            src="../static/images/albums/kak-v-staroy-skazke.jpg" alt=""></a>
                    <a href="discography.html" title="Камнем по Голове — 21 песен"><img
                            src="../static/images/albums/kamnem-po-golove.jpg" alt=""></a>
                    <a href="discography.html" title="Концерт в Олимпийском — 21 песен"><img
                            src="../static/images/albums/kontsert-v-olimpiyskom.jpg" alt=""></a>
                    <a href="discography.html" title="Король и Шут — 17 песен"><img
                            src="../static/images/albums/korol-i-shut.jpg" alt=""></a>
                    <a href="discography.html" title="Мёртвый Анархист — 33 песен"><img
                            src="../static/images/albums/myortvyiy-anarhist.jpg" alt=""></a>
                    <a href="discography.html" title="Праздник Скоморох — 21 песен"><img
                            src="../static/images/albums/prazdnik-skomoroh.jpg" alt=""></a>
                    <a href="discography.html" title="Продавец Кошмаров — 16 песен"><img
                            src="../static/images/albums/prodavets-koshmarov.jpg" alt=""></a>
                    <a href="discography.html" title="Собрание — 26 песен"><img
                            src="../static/images/albums/sobranie.jpg" alt=""></a>
                    <a href="discography.html" title="Страшные Истории. Том 1 — 19 песен"><img
                            src="../static/images/albums/strashnyie-istorii-tom-1.jpg" alt=""></a>
                    <a href="discography.html" title="Театр Демона — 12 песен"><img
                            src="../static/images/albums/teatr-demona.jpg" alt=""></a>
                    <a href="discography.html" title="Тень Клоуна — 16 песен"><img
                            src="../static/images/albums/ten-klouna.jpg" alt=""></a>
                    <a href="discography.html" title="TODD - Акт 1. «Праздник Крови» — 11 песен"><img
                            src="../static/images/albums/todd-akt-1-prazdnik-krovi.jpg" alt=""></a>
                    <a href="discography.html" title="TODD - Акт 2. «На Краю» — 10 песен"><img
                            src="../static/images/albums/todd-akt-2-na-krayu.jpg" alt=""></a>
                    <a href="discography.html" title="Жаль нет ружья! — 17 песен"><img
                            src="../static/images/albums/zhal-net-ruzhya.jpg" alt=""></a>
                </div>
            </section>

            <section class="right-blocks">
                <!-- композиции и плеер-->
                <div class="compositions">
                    <div class="player">
                        <div class="header">
                            <h2></h2>
                        </div>
                        <div class="change-compozition">
                            <button id="prev"><span><img src="../static/images/arrow-prev.svg" alt=""></span></button>
                            <audio controls id="audio-player">
                                <source src="" type="audio/mpeg" />
                            </audio>
                            <button id="next"><span><img src="../static/images/arrow-next.svg" alt=""></span></button>
                        </div>
                    </div>
                    <div class="composition-list">
                        <button data-src="url to composition">Пьянка</button>
                        <button>Медведь</button>
                        <button>Утопленник</button>
                        <button>Разборки из-за Баб</button>
                        <button>Вино Хоббитов</button>
                        <button>Вдова и Горбун</button>
                        <button>Водяной</button>
                        <button>Песенка Пьяного Деда</button>
                        <button>Мой Характер</button>
                        <button>Представляю Я</button>
                        <button>Жаль, нет Ружья!</button>
                        <button>Генрих и Смерть</button>
                        <button>Защитник Свиней</button>
                        <button>Некромант</button>
                        <button>Смешной Совет</button>
                        <button>Мёртвый Анархист</button>
                        <button>Волосокрад</button>
                    </div>
                </div>

                <!-- полиграфия(карусель) -->
                <div class="polygraphy">
                    <img src="../static/images/polygraphy/sobranie/1.jpg"
                        id="polygraphy-image">
                    <img src="../static/images/polygraphy/sobranie/2.jpg"
                        id="polygraphy-image">
                    <img src="../static/images/polygraphy/sobranie/3.jpg"
                        id="polygraphy-image">
                    <img src="../static/images/polygraphy/sobranie/4.jpg"
                        id="polygraphy-image">
                    <img src="../static/images/polygraphy/sobranie/5.jpg"
                        id="polygraphy-image">
                    <img src="../static/images/polygraphy/sobranie/6.jpg"
                        id="polygraphy-image">
                </div>
            </section>
        </section>

        <!-- увеличение картинки -->
        <div class="enlarged-image hidden">
            <button id="close"><img src="../static/images/close.svg"></button>
            <img id="enlarged-image" src="">
        </div>

        <!-- участники группы -->
        <h1 style="color:rgb(255, 170, 22); padding-left: 100px; font-family: 'Old Standard TT', serif">Участники группы
        </h1>
        <section class="members">
            <a href="biography.html" title="Михаил Горшенев"><img
                    src="../static/images/members/mihail-gorshenev.jpg"></a>
            <a href="biography.html" title="Александр Щиголев"><img
                    src="../static/images/members/aleksandr-shhigolev.jpg" alt=""></a>
            <a href="biography.html" title="Яков Цвиркунов"><img src="../static/images/members/yakov-tsvirkunov.jpg"
                    alt=""></a>
            <a href="biography.html" title="Александр Леонтьев"><img
                    src="../static/images/members/aleksandr-leontev.jpg" alt=""></a>
            <a href="biography.html" title="Павел Сажинов"><img src="../static/images/members/pavel-sazhinov.jpg"
                    alt=""></a>
            <a href="biography.html" title="Сергей Захаров"><img src="../static/images/members/sergey-zaharov.jpg"
                    alt=""></a>
        </section>
        <a href="../all-members.html" class="other-members">ВСЕ УЧАСТНИКИ</a>
    </main>
    <footer>
        <h4>История "Король и Шут"</h4>
    </footer>
    <script src="../static/scripts/main-scripts.js"></script>
    <script src="../static/scripts/disk.js"></script>
</body>

</html>