@import url('styles.css');


h1 {
    margin-bottom: 0;
}

.back {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border: none;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.back img {
    width: 100%;
}

form {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}