@import url("styles.css");

img {
  width: 100%;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(25, 163, 255);
}

h5 {
  margin-top: 0px;
}

.content {
  padding: 15px;
}

.add-to-shop {
  position: fixed;
  width: 60px;
  height: 60px;
  text-align: center;
  border: none;
  background-color: rgb(255, 145, 0);
  padding: 5px;
  border-radius: 8px;
  bottom: 70px;
  left: 20px;
  transition: all 0.1s ease-out;
}

.add-to-shop img {
  width: 100%;
}

.add-to-shop:active {
  transform: scale(0.6); /* уменьшаем размер кнопки нажатия */
}

.remove-from-shop {
  position: fixed;
  width: 60px;
  height: 60px;
  text-align: center;
  border: none;
  background-color: rgb(255, 77, 0);
  padding: 5px;
  border-radius: 8px;
  bottom: 140px;
  left: 20px;
  transition: all 0.1s ease-out;
}

.remove-from-shop img {
  width: 100%;
}

.remove-from-shop:active {
  transform: scale(0.6); /* уменьшаем размер кнопки нажатия */
}

.count {
  position: fixed;
  display: flex;
  background-color: rgb(170, 255, 0);
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 90px;
  bottom: 10px;
  border-radius: 8px;
  left: 20px;
}

.back {
  position: absolute;
  width: 45px;
  height: 45px;
  text-align: center;
  border: none;
  background-color: rgb(255, 145, 0);
  padding: 5px;
  border-radius: 8px;
  top: 20px;
  left: 20px;
}
.back img {
  width: 100%;
}
