body {

    background: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: black;
    padding: 40px;
    font-family: Arial, sans-serif;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 8%;
}

.display {
    height: 50px;
    background: white;
    padding: 5px;
    text-align: right;
    color: black;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}

.btn {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 25%;
    border: none;
    background-color: rgb(47, 47, 47);
    color: rgb(235, 235, 235);
}


.yellow-btn {
    background-color: rgb(243, 194, 47);

}

.double-size {
    grid-row: 3 / 5;
    border-radius: 25px;
    background-color: rgb(92, 92, 242);
}

.btn:hover {
    background: #f1f1f1;
}