*{
    padding: 0;
    margin:0;
    }
    

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
}

header {
    background-color: #9ae1db;
    margin: 0 auto;
    text-align: right;

    padding: 20px;
}

header nav a {
    margin-right: 20px;
    font-size: 15pt;
}

.container {
    max-width: 1546px;
    margin: 0 auto;
    width: 99%;
    padding-top: 1%;
}

.hidden {
    display: none;
}