<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main-styles.css">
    <link rel="stylesheet" href="/static/styles/blog.css">
    <title>пост</title>
</head>
<body>
    <header>
        <nav>
            <a href="main.html">Главная</a>
            <a href="blogs.html">Посты</a>
            <a href="about.html">О проекте</a>
            <a href="sign-in.html">Войти</a>
        </nav>
    </header>
    <main>
        <section class="container">
            <div class="content">
                <h1>blog</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam neque eligendi sed pariatur quod doloremque nostrum magni reprehenderit labore. Delectus quas laudantium totam porro nulla neque, excepturi enim eligendi odit.
                Error, quas impedit facilis mollitia recusandae est fugiat nostrum accusamus velit deserunt doloribus illo sed quod necessitatibus quisquam voluptatum sit pariatur non exercitationem repudiandae unde esse ipsum? Voluptate, at harum!
                Beatae quam, cum assumenda, vitae tenetur praesentium suscipit a consequatur vel est quaerat nam reprehenderit perspiciatis voluptatibus voluptate consectetur totam temporibus quisquam optio soluta esse saepe? Asperiores nobis necessitatibus magnam!
                Perferendis iure id quasi incidunt officiis deleniti maiores consectetur impedit esse laborum, quibusdam beatae facilis voluptate. Facilis, minus suscipit sint aliquid numquam, deleniti sapiente ea possimus quos hic culpa ab!
                Laborum deleniti eligendi corrupti beatae. Molestias, perferendis! Quam unde aliquam animi eaque voluptates placeat ex deleniti, illum, doloribus dicta omnis ad delectus, beatae corporis repellendus officiis tempora. Culpa, quod porro!
                Officia quis voluptates adipisci consectetur aperiam. Sequi error quisquam vel laborum expedita nobis esse suscipit neque voluptates exercitationem aspernatur quasi repellendus nihil dolore nesciunt perspiciatis deserunt ducimus incidunt, saepe ipsam?
                Perferendis minus non enim quidem. Illum libero provident eius velit unde quae praesentium quidem! Consequuntur, consequatur omnis! Placeat adipisci ex illo autem aliquid eligendi, facilis, dolorum ducimus quas dolorem provident!
                Pariatur eaque soluta accusantium, veritatis quia perspiciatis dolor iste eum assumenda delectus molestias excepturi debitis quasi, exercitationem sint asperiores? In, corrupti velit? Quam soluta molestiae architecto, nihil voluptas iure quia.
                Libero minus, id aperiam cum, ex quam deleniti ipsa iusto minima atque quis ipsum, quasi nulla distinctio! Repellat aliquid, beatae, assumenda facere officia nemo voluptatibus quidem vel eum nulla tempora?
                Natus alias aspernatur, accusantium, voluptates unde ex modi saepe, maxime quasi harum nemo nobis recusandae laborum molestiae aliquid officia esse quisquam ipsum dolorum et earum. Culpa repudiandae ipsa recusandae dolor.</p>
            </div>
            <div class="comment">
                <h1>Комментарии</h1>
                <div class="comments-carts">
                    <div class="comments-cart">
                        <h4>example@gmail.com</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad perspiciatis autem ea minus ab ratione voluptates accusamus. Sed ducimus obcaecati, eos quia eligendi numquam voluptate unde odio ut in!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="/static/scripts/blogs.js"></script>
</body>
</html>