<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main-styles.css">
    <link rel="stylesheet" href="/static/styles/blogs.css">
    <title>Список постов</title>
</head>
<body>
    <header>
        <nav>
            <a href="main.html">Главная</a>
            <a href="blogs.html">Посты</a>
            <a href="about.html">О проекте</a>
            <a href="sign-in.html">Войти</a>
        </nav>
    </header>
    <main>
        <section class="container">
            <section class="arguments">
                <div class="arguments-block-left">
                    <input type="text" placeholder="Поиск">
                    <button id="createBlog">Создать пост</button>
                </div>
                <div class="arguments-block-right">
                    <button>Сортировка<img src="" alt=""></button>
                </div>
            </section>            

            <h1><b>Список постов</b></h1>
                <section class="blogs" id="blogs">
                    <template id="post-template">
                        <div class="blog">
                            <div class="blog-left-block">
                                <h2 id="post-header"><b>blog1</b></h2>
                                <p id="post-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi voluptatibus aliquam velit laboriosam. Nemo quia laborum neque sunt omnis blanditiis earum praesentium? Rem numquam voluptas dolores fugiat incidunt veritatis fuga?</p>
                            </div>
                            <div class="blog-right-block">
                                <button id="open"><b>Открыть</b></button>
                                <button id="delete"><b>Удалить</b></button>
                            </div>
                        </div>
                    </template>
                </section>
        </section>
    </main>
    <div class="create-blog hidden">
        <div id="closeBlog" class="black-film"></div>
        <div class="create-blog-form">
            <input id="header-input" type="text" name="blogName" placeholder="Название">
            <input id="content-input" type="text" name="About" placeholder="Описание">
            <button id="newPost">Добавить пост</button>
        </div>
    </div>
</body>
</html>
<script src="/static/scripts/blogs.js"></script>